.hero-main {
  width: 100%;
  padding: 14.0rem var(--section-padding);
  padding-bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;

  .hero-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .container {
    width: 100%;
    max-width: var(--section-width);
    border-radius: 2.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 4.0rem;
    display: flex;
    justify-content: center;
    gap: 4.0rem;

    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 1.5rem;
  
      h1 {
        font: 600 3.0rem var(--font-1);
      }
      p {
        font: 400 1.4rem var(--font-1);
        max-width: 45rem;
      }
    }
    .hero-img {
      aspect-ratio: 12/16;
      width: 24rem;
      object-fit: cover;
    }
  }
}
.o-nas {
  img {
    width: 40rem;
    border-radius: 1.0rem;
    margin: 0 auto;
  }
}
.course-container {
  //width: 100%;
  //max-width: var(--section-width);
  height: 32rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4.0rem;

  nav {
    display: flex;
    flex-direction: column;
    gap: 1.0rem;

    .course-picker-item {
      color: var(--fon-color);
      width: 26rem;
      height: 10rem;
      border: 1px solid gray;
      border-radius: 1.0rem;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      gap: 1.2rem;
      text-decoration: none;
      transition: .25s;

      img {
        height: 8.0rem;
        scale: 1.5;
      }
      .course-text {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 0.4rem;

        .header {
          font: 600 1.4rem var(--font-1);
        }
        .desc {
          opacity: 0.7;
          font: 400 1.2rem var(--font-1);
        }
      }
      &.course-picker-item-warrior {
        &.course-picker-item-active, &:hover {
          border-color: rgb(0, 102, 255);
          box-shadow: 0 0 20px 4px rgba(0, 102, 255, 0.5);
        }
      }
      &.course-picker-item-scout {
        &.course-picker-item-active, &:hover {
          border-color: rgb(255, 208, 0);
          box-shadow: 0 0 20px 4px rgba(123, 255, 0, 0.5);
        }
      }
      &.course-picker-item-mage {
        &.course-picker-item-active, &:hover {
          border-color: rgb(111, 0, 255);
          box-shadow: 0 0 20px 4px rgba(153, 0, 255, 0.5);
        }
      }
    }
  }
  .display {
    height: 100%;
    width: 28rem;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.banner-section {
  background-color: transparent;
  min-height: 50rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner-bg {
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
.kontakt {
  .data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.0rem;

    .text {
      margin: 0;

      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1.0rem;
        list-style: none;

        .contact-info-link {
          color: var(--font-color);
          font: 400 1.4rem var(--font-1);
          display: flex;
          align-items: center;
          gap: 0.8rem;
          text-decoration: none;
          transition: .12s;
          cursor: pointer;

          &:hover {
            color: var(--color-1);
            opacity: 1.0;

            .icon-container {
              border-color: var(--color-1);
            }
          }
          .icon-container {
            background-color: rgba(255, 255, 255, 0.05);
            width: 2.8rem;
            height: 2.8rem;
            border: 1px solid var(--font-color);
            border-radius: 0.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .12s;
          }
        }
      }
    }
    .map-container {
      width: 100%;
      max-width: 40rem;
      border-radius: 1.0rem;
      overflow: hidden;
    }
  }
}

header {
  background: rgba(0, 0, 0, 0.01);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: var(--header-height);
  padding: 0 6vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  nav ul {
    display: flex;
    align-items: center;
    gap: 2.6rem;
    list-style: none;
  }
  a {
    color: var(--font-color-1);
    font: 400 1.0rem var(--font-1);
    text-decoration: none;
    transition: .12s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
footer {
  color: var(--font-color-1);
  background-color: var(--bg-color-3);
  width: 100%;
  padding: 2.0rem 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  color: var(--font-color);
  background-color: var(--bg-color);
  padding: 4.0rem var(--section-padding);
  display: flex;
  flex-direction: column;
  gap: 3.0rem;

  p {
    font: 400 1.4rem var(--font-1);
  }
  &.section-black {
    --font-color: var(--font-color-1);
    --bg-color: var(--bg-color-1);
  }
  &.section-white {
    --font-color: var(--font-color-2);
    --bg-color: var(--bg-color-2);
  }
}
.text {
  max-width: var(--section-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.0rem;
}
.blur-effect {
  background-color: rgba(26, 26, 26, 0.9);
  backdrop-filter: blur(6px);
}
.action {
  color: var(--font-color-1);
  background-color: var(--color-1);
  font: 600 1.4rem var(--font-1);
  padding: 0.8rem 1.6rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  transition: .12s;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
.banner {
  width: 100%;
  max-width: var(--section-width);
  border-radius: 1.5rem;
  padding: 2.0rem 3.0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.0rem;

  p {
    font: 400 1.4rem var(--font-1);
    max-width: 60rem;
  }
}
.section-header {
  font: 700 2.4rem var(--font-1) !important;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.0rem;

  &.section-header-main {
    margin: 0;
  }
  &::after {
    content: '';
    background-color: var(--color-1);
    width: 10.0rem;
    max-width: 80%;
    height: 0.2rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    //left: -8%;
  }
}