.hero-main {
  width: 100%;
  padding: 14rem var(--section-padding);
  padding-bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}
.hero-main .hero-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero-main .container {
  width: 100%;
  max-width: var(--section-width);
  border-radius: 2.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 4rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.hero-main .container .hero-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;
}
.hero-main .container .hero-text h1 {
  font: 600 3rem var(--font-1);
}
.hero-main .container .hero-text p {
  font: 400 1.4rem var(--font-1);
  max-width: 45rem;
}
.hero-main .container .hero-img {
  aspect-ratio: 12/16;
  width: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-section {
  background-color: transparent;
  min-height: 50rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-section .banner-bg {
  width: 100%;
  height: 100%;
  border-radius: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.kontakt .data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.kontakt .data-container .text {
  margin: 0;
}
.kontakt .data-container .text ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}
.kontakt .data-container .text ul .contact-info-link {
  color: var(--font-color);
  font: 400 1.4rem var(--font-1);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  transition: 0.12s;
  cursor: pointer;
}
.kontakt .data-container .text ul .contact-info-link:hover {
  color: var(--color-1);
  opacity: 1;
}
.kontakt .data-container .text ul .contact-info-link:hover .icon-container {
  border-color: var(--color-1);
}
.kontakt .data-container .text ul .contact-info-link .icon-container {
  background-color: rgba(255, 255, 255, 0.05);
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid var(--font-color);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.12s;
}
.kontakt .data-container .map-container {
  width: 100%;
  max-width: 40rem;
  border-radius: 1rem;
  overflow: hidden;
}

header {
  background: rgba(0, 0, 0, 0.01);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: var(--header-height);
  padding: 0 6vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  list-style: none;
}
header nav ul a {
  color: var(--font-color-1);
  font: 400 1rem var(--font-1);
  text-decoration: none;
  transition: 0.12s;
  cursor: pointer;
}
header nav ul a:hover {
  opacity: 0.7;
}

footer {
  color: var(--font-color-1);
  background-color: var(--bg-color-3);
  width: 100%;
  padding: 2rem 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  color: var(--font-color);
  background-color: var(--bg-color);
  padding: 4rem var(--section-padding);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
section p {
  font: 400 1.4rem var(--font-1);
}
section img {
  width: 40rem;
  border-radius: 1rem;
  margin: 0 auto;
}
section.section-black {
  --font-color: var(--font-color-1);
  --bg-color: var(--bg-color-1);
}
section.section-white {
  --font-color: var(--font-color-2);
  --bg-color: var(--bg-color-2);
}

.text {
  max-width: var(--section-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blur-effect {
  background-color: rgba(26, 26, 26, 0.9);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.action {
  color: var(--font-color-1);
  background-color: var(--color-1);
  font: 600 1.4rem var(--font-1);
  padding: 0.8rem 1.6rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  transition: 0.12s;
  cursor: pointer;
}
.action:hover {
  opacity: 0.9;
}

.banner {
  width: 100%;
  max-width: var(--section-width);
  border-radius: 1.5rem;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.banner p {
  font: 400 1.4rem var(--font-1);
  max-width: 60rem;
}

.section-header {
  font: 700 2.4rem var(--font-1);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.section-header::after {
  content: "";
  background-color: var(--color-1);
  width: 100%;
  height: 0.2rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.6rem;
  left: -8%;
}/*# sourceMappingURL=main.css.map */